<div class="footer row">
    <div class="regisEmail">
        <form method="post" action="/regisemail">
            <div class="boxEmail">
                <label for="exampleInputEmail1">Đăng kí nhận tin:</label>
                <input type="email" class="form-control" name="email" placeholder="Enter user...">
                <button type="submit" class="BtnBoxEmail btn btn-primary mb-2">OK</button>
            </div>
        </form>
    </div>
    <div class="box-footer">
        {{!-- <div class="spinner-border text-warning"></div> --}}
        <h5>© 2022</h5>
        <h6>WEBSITE BY VANQUAN</h6>
    </div>
    <div class="contact">
        <h6>Contact us:</h6>
        <a href="https://www.facebook.com/profile.php?viewas=100000686899395&id=100007744053511"><i class="ti-facebook"></i></a>
        <a href="#"><i class="ti-instagram"></i></a>
        <a href="#"><i class="ti-pinterest-alt"></i></a>
        <a href="#"><i class="ti-google"></i></a>
    </div>
</div>