<div class="titleAdmin" aria-labelledby="navbarDropdown">
    <a class="iconAdmin" href="/admin/statistical"><i class="ti-bar-chart-alt"></i> Thống kê</a>
    <a class="iconAdmin" href="/books/create"><i class="ti-plus"></i> Thêm sách</a>
    <a class="iconAdmin" href="/admin/stored/books"><i class="ti-book"></i> Quản lý sách</a>
    <a class="iconAdmin" href="/admin/stored/users"><i class="ti-user"></i> Quản lý người dùng</a>
    <a class="iconAdmin" href="/admin/stored/comments"><i class="ti-comment-alt"></i> Quản lý bình luận</a>
</div>