{{> navAdmin}}
<div class="mt-4">
    <h3>Thêm sách</h3>
    <form method="post" action="/books/store" enctype="multipart/form-data">
        <div class="form-group">
            <label for="name">Tên sách</label>  <br>
            <input type="text" placeholder="" name="name">
        </div>
        <div class="form-group">
            <label for="description">Mô tả:</label>  <br>
            <input type="text" placeholder="" name="description">
        </div>
        <div class="form-group">
            <label for="">Chọn ảnh:</label> <br>
            <input type="file" placeholder="" name="image">
        </div>
        <button type="submit" class="btn btn-primary">Thêm</button>
    </form>
</div>